:root{
    --color-brand:#333333;
    --nav-color:#ffe259;
    --nav-color-1:#ffa751;
}

*{
padding: 0;
margin: 0;
box-sizing: border-box
}
.section-nav{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.section-nav div.sarch-box{
    width: 100%;
    height: 70px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    background-color: var(--color-brand);
    position: relative;
}
.section-nav div.sarch-box .sarch img{
    height: 60px;
    width: 70px;
    position: absolute;
    top: 8px;
    left: 0;
}
.section-nav div.sarch-box  div.sarch{
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
color: black;
justify-content: center;
align-items: center;    

}
.section-nav div.sarch-box  div.sarch> select{
    padding: 9.9px 60px;
    border-radius: 5px;
    margin-right: 3px;
}
.section-nav div.sarch-box  div.sarch> select:focus{
    border: none;
}
.section-nav div.sarch-box  div.sarch> button{
    padding: 10px 24px;
    border: none;
    background-image: linear-gradient(#ffe259,#ffa751);
    border-radius: 4px;
    margin-right: 4px;
}
/* .section-nav div.sarch-box  div.sarch> button:focus{
    border: hidden;
    outline: none;
} */
.section-nav div.sarch-box  div.box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    position: relative;
    color: white;
}
.section-nav div.sarch-box  div.box> p {
    font-size: 28px;
    position: absolute;
    top: 15px;
    right: 100px;
}
.section-nav div.sarch-box  div.box> i{
    font-size: 28px;
    border: 1px solid black;
    position: absolute;
    top: 15px;
    right: 50px;
}
.section-nav div.href-box{
    display: flex;
    align-items: center;
    padding: 13px 0;
    padding-left: 150px;
    gap: 40px;
    background-image: radial-gradient(#ffe259,#ffa751);
}
.section-nav div.href-box a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
}
@media(max-width:768px){
    .section-nav div.href-box{
        
        padding-left: 30px;
        gap: 15px;
   
    }
}
@media(max-width:500px){
    .section-nav div.href-box{
        padding-left: 5px;
        gap: 9px;
    }
    .section-nav div.href-box a{
        font-size: 12px;
        font-weight: 600;
    }
    .section-nav div.sarch-box  div.sarch{
        width: 100%;
        height: 100%;    
        
        }
        .section-nav div.sarch-box .sarch img{
            height: 70px;
            width: 70px;
            margin-right: 6px;
            display: none;
        }
        .section-nav div.sarch-box{
            grid-template-columns: 1.5fr 1fr;
            margin: 0 auto;
        }
        .section-nav div.sarch-box  div.box {
            margin: 0 70px;
        
        }
        .section-nav div.sarch-box  div.box> p {
            font-size: 18px;
            top: 25px;
            right: 100px;
        }
        .section-nav div.sarch-box  div.sarch> select{
            padding: 9.9px 5px;
            margin: 0 10px;
            
        }
        .section-nav div.sarch-box  div.box> i {
            font-size: 28px;
            border: 1px solid black;
            position: absolute;
            top: 30px;
            right: 80px;
        }
}